/* Animations  */

@keyframes slideInFromRight {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-in-right.animate-visible {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.slide-in-left.animate-visible {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slide-in-top.animate-visible {
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.slide-in-bottom.animate-visible {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}
