body {
  --primary-text-color: white;
  --secondary-text-color: black;
  --secondary-color: #a29bfe;
  --secondary-color-dark: #5f5b98;
  --primary-background-color: #252525;
  --secondary-background-color: rgb(230, 230, 230);
  margin: 0;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}

/* footer contact */
.footer {
  background-color: var(--primary-background-color);
  text-align: center;
}

.contact-link {
  color: var(--primary-text-color);
}

.contact-container {
  margin: 0;
  padding: 2em;
  color: var(--primary-text-color);
}

/* Sections */

section {
  padding: 1vh;
  height: 100vh;
}

.section--landing {
  background-color: var(--primary-background-color);
}

.section--about {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.section--web {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.section--game {
  background-color: var(--secondary-background-color);
}

.section__title {
  font-size: 2em;
}

/* Buttons */

.btn {
  background-color: var(--secondary-color);
  border: none;
}

.btn:focus {
  outline: none;
}

.btn--large {
  font-size: 36px;
}

.btn--inner-shadow {
  box-shadow: inset 0 4px 4px #0000003b;
}

.btn__img {
  transform: rotate(-90deg);
  transition-duration: 0.3s;
  width: 1em;
}

.btn__img--down {
  transform: none;
  transition-duration: 0.3s;
}

.btn__icon-span {
  font-size: 0.75em;
}

/* Containers */

.container {
  display: flex;
  flex-direction: column;
}

.container--center {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* Lists */

.ul-flat {
  list-style: none;
  padding: 0;
  margin: 1em;
}

.ul-flat--split {
  columns: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1em;
}

.li-title {
  color: var(--secondary-color-dark);
  font-weight: bolder;
  font-size: 1.25em;
}

.li-item {
  padding-top: 0.5em;
}

/* Landing CSS */

.landing__title {
  margin: 0.5em;
  text-align: center;
  font-size: 64px;
  color: var(--primary-text-color);
}

.landing__title--colored {
  color: var(--secondary-color);
}

/* About CSS */

.about__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 150px;
}

.about__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__item-circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__item-icon {
  font-size: 5em;
  color: white;
}

.about__item-title {
  margin: 0.2em;
  font-size: 1.5em;
}

.about__item-desc {
  margin: 0.2em;
  text-align: center;
}

.about__outer-grid {
  display: grid;
  grid-template: "about extra" / 20% 50%;
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
}

.about__left-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  justify-items: center;
}

.about__lists {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.about__extras {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

.about__extras--fullrow {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Web CSS */

.web__grid {
  display: grid;
  grid-template-columns: repeat(2, 33%);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2em;
  justify-content: center;
  align-content: center;
}

.web__grid--2 {
  display: grid;
  grid-template-columns: repeat(2, 33%);
  grid-gap: 2em;
  justify-content: center;
  align-content: center;
}

.project__item-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1em;
}

.project__item--full-center {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  justify-self: center;
}

.project__item-grid:hover {
  transform: scale(1.1);
  background-color: #2a2a2a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.233);
  z-index: 1000;
  transition: all 0.5s;
}

.project__img {
  justify-self: center;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project__link {
  text-decoration: none;
  color: inherit;
}

.project__text {
  margin: 0;
}

.project__text--title {
  color: var(--secondary-color);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bolder;
}

.project__text--title-dark {
  color: var(--secondary-color-dark);
}

.project__item-grid--light:hover {
  background-color: #dadada;
  box-shadow: 0 2px 2px 0 rgba(134, 134, 134, 0.233);
}

/* Medium screen media queries */
@media only screen and (max-width: 1200px) {
  .about__outer-grid {
    grid-template: "about extra" / 30% 60%;
  }
  .about__item-circle {
    width: min(150px, 15vw);
    height: min(150px, 15vw);
  }
  .about__item-icon {
    font-size: min(5em, 10vw);
  }
  .about__img {
    width: min(200px, 15vw);
    height: min(200px, 15vw);
  }
  .about__item-title {
    font-size: 1.3em;
  }

  .web__grid {
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, auto);
  }
  .project__img {
    width: min(150px, 20vw);
    height: min(150px, 20vw);
  }
}

/* Small screen media queries */
@media only screen and (max-width: 800px) {
  .section {
    height: fit-content;
    min-height: 0;
  }
  .section--landing {
    height: 100vh;
  }
  .about__outer-grid {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .about__extras {
    grid-template-rows: repeat(2, auto);
  }
  .about__img {
    width: min(200px, 25vw);
    height: min(200px, 25vw);
  }
  .web__grid {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
  .project__item--full-center {
    width: 100%;
  }
}
